@font-face {
    font-family: Akkurat; 
    src: url(../fonts/Akkurat-Light-Regular.otf); 
    font-weight: normal; 
}

/*##########################
#top-menu
##########################*/

.page-id-57 #top-bar {
display: none;
}

@media (max-width: 768px) {
#top-bar .container{
position: absolute;
top:20;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
background:#FFFFFF !important;
opacity:1 !important;
width: 100% !important;
}
#top-menu{
background:#FFFFFF !important;
}

}

@media (min-width: 768px) {
#top-bar .container {
position: fixed;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
background:#FFFFFF !important;
opacity:1 !important;
width: 100% !important;
z-index:1;
}
}

#top-menu ul li {
    border-right: none !important;
}

#top-menu ul li a {
    display: inline-block;
    color: #474747;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

#top-menu {
    float: right !important;
    margin-left: auto;
    margin-right: auto;
}

#site-logo {
    height: 100%;
    margin-top: 10px;
}

/*##########################
#password page
##########################*/

/* AY: There is no password page anymore */


/*##########################
#header
##########################*/
.page-id-57 .site-branding {
margin-top: 280px;
}

.page-id-69 .site-branding {
margin-top: 280px;
}

.site-branding {
    margin-bottom: 100px !important;
    padding:0px;
}

h1.site-title.title-font {
    font-family: Akkurat;
    letter-spacing:2px;
}


h2.site-description {
  font-family: Akkurat;
}

#scroll-to-read {
  width: 30px;
  float: none;
  margin:auto; 
}

#scroll-text {
  color: #ffffff;
  text-align: center;
  font-weight: 300; 
  margin: 15px 0px 30px 0px;
}

#share {
padding: 50px;
background:#3e3935;
}

#share-form {
text-align: center;
color: #fcfcfc;
max-width: 440px;
margin:auto;
}

#share-para {
font-size:16px;
}

#footnote {
font-size:12px;
}

#social-icons {
display: none;
}

.page-id-57 #social-icons {
display: block;
}

#search-icon {
display: none !important;
}

.page-id-69 #search-icon {
display: none;
}

.single #masthead {
    background-image:none;
}

#masthead {
background-position-y: center;
}

#page2 {
background-color:#fcfcfc;
}

#passwd {
background:#fcfcfc;
}

#submit {
    border: #e55239;
    border-color: #e55239 ;
    border-radius: none;
    background: #e55239;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: button;
    font-size: 14px;
    line-height: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-shadow: none;
}

#submit a {
color:#fff;
}


.page-id-57 #masthead {
min-height: 640px;
}

.page-id-69 #masthead {
min-height: 640px;
}



/*##########################
#others
##########################*/

.comment-author {
    width: 8%;
}

.entry-footer{
display:none;
}

#site-navigation {
display: none;
}

#featured-area-2 {
padding-bottom:30px;
}

#featured-area-2 .section-title {
    display: none;
}



/*##########################
#home page articles section
##########################*/
.mega-container {
    width:100% !important;
    max-width: none !important;
}

@media (min-width: 1450px){
.page-id-69 #featured-area-2 .container {
    min-width: 1440px;
}
}

#back-top {
position: fixed;
right: 0;
bottom: 0;
z-index:1;
}

/*##########################
#articles header section
##########################*/

#masthead .container {
width: 100% !important;
padding:0px;
}

#featured-image {
width: 100% !important;
background-position-x: center;
background-position-y: bottom;
max-height:480px;
overflow:hidden;
}

#primary-mono h1.entry-title {
    font-size: 35px;
    color: #3a3936;
    font-family: Avenir;
}

#primary-mono h1.entry-title:after {
    display: none;
}

#primary-mono .entry-meta, #primary-mono .entry-footer {
    height: 30px;
}

.custom-date {
  font-family: Akkurat;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.87;
  color: #222222;
    float: left;
    text-transform: none;
}

#primary-mono .entry-meta .author a {
    color: #222222;
}

a {
    color: #3a3936;
}

#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label {
    background: #3a3936;
    border-bottom: solid 1px #3a3936;
}

#respond .form-submit input[type=submit] {
    color: #3a3936;
}

#primary-mono .entry-content {
  font-family: Akkurat;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #222222;
}

@media (min-width: 992px){
.col-md-12 {
    width: 85%;
    margin-left: auto;  
    margin-right: auto;
    float: none;
}
}

#comments {
border-top: solid 1px rgb(238, 238, 238);
}



#featured-area-2 .imgcontainer .popimage .titledesc a {
    color: white;
    font-size: 16px;
    text-align: left;
    margin:0 50px;
}

#featured-area-2 .imgcontainer .popimage span img {
    width: 16px;
}

#primary-mono .entry-meta span img {
    width: 14px;
}

